{% comment %}
  Lootroom – Breadcrumbs Snippet
  Einbinden mit: {% render 'breadcrumbs' %}
  Funktioniert auf: Produkt-, Kollektions-, Blog- & Artikel-Seiten
{% endcomment %}

{{ 'section-breadcrumbs.css' | asset_url | stylesheet_tag }}

<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol class="breadcrumbs__list">

    {%- comment %} HOME {% endcomment %}
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link" href="{{ routes.root_url }}">Home</a>
    </li>

    {%- if template.name == 'product' -%}

      {%- if collection != blank -%}
        <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
        <li class="breadcrumbs__item">
          <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
        </li>
      {%- endif -%}

      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
        {{ product.title }}
      </li>

    {%- elsif template.name == 'collection' -%}

      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
        {{ collection.title }}
      </li>

    {%- elsif template.name == 'blog' -%}

      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
        {{ blog.title }}
      </li>

    {%- elsif template.name == 'article' -%}

      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ blog.url }}">{{ blog.title }}</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
        {{ article.title }}
      </li>

    {%- elsif template.name == 'page' -%}

      <li class="breadcrumbs__item breadcrumbs__item--separator" aria-hidden="true">›</li>
      <li class="breadcrumbs__item breadcrumbs__item--current" aria-current="page">
        {{ page.title }}
      </li>

    {%- endif -%}

  </ol>
</nav>


