{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{%- if section.settings.show_footer_break_top -%}
  {%- assign top_break_url = 'https://cdn.shopify.com/s/files/1/0503/3535/0975/files/break-top.png?v=1772442257' -%}
  {%- if section.settings.footer_break_top != blank -%}
    {%- assign top_break_url = section.settings.footer_break_top | image_url -%}
  {%- endif -%}
  <div class="footer-break-top" aria-hidden="true" style="background-image: url('{{ top_break_url }}');"></div>
{%- endif -%}

<footer class="footer-wrapper" role="contentinfo">
  <div class="footer-inner page-width">

    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'image' -%}
          <div class="footer-col footer-col--image" {{ block.shopify_attributes }}>
            {%- if block.settings.image != blank -%}
              {{ block.settings.image | image_url: width: 400 | image_tag: loading: 'lazy', class: 'footer-naked-img' }}
            {%- else -%}
              <img
                class="footer-naked-img"
                src="https://cdn.shopify.com/s/files/1/0503/3535/0975/files/naked.png?v=1772442775"
                alt="Lootroom Character"
                width="400"
                height="400"
                loading="lazy"
              >
            {%- endif -%}
          </div>

        {%- when 'disclaimer' -%}
          <div class="footer-col footer-col--disclaimer" {{ block.shopify_attributes }}>
            {%- if block.settings.heading != blank -%}
              <h4 class="footer-col__heading">{{ block.settings.heading | escape }}</h4>
            {%- endif -%}
            {%- if block.settings.text != blank -%}
              <div class="footer-col__text">
                {{ block.settings.text }}
              </div>
            {%- endif -%}
          </div>

        {%- when 'link_list' -%}
          <div class="footer-col footer-col--links" {{ block.shopify_attributes }}>
            {%- if block.settings.heading != blank -%}
              <h4 class="footer-col__heading">{{ block.settings.heading | escape }}</h4>
            {%- endif -%}
            {%- if block.settings.menu != blank and block.settings.menu.links.size > 0 -%}
              <ul class="footer-links-list">
                {%- for link in block.settings.menu.links -%}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

        {%- when 'info' -%}
          <div class="footer-col footer-col--info" {{ block.shopify_attributes }}>
            {%- if block.settings.supplier_logo != blank -%}
              <div class="footer-supplier">
                <span class="footer-col__heading">Supplied by</span>
                {{ block.settings.supplier_logo | image_url: width: 200 | image_tag: loading: 'lazy', class: 'footer-supplier__logo', alt: block.settings.supplier_name }}
              </div>
            {%- endif -%}

            {%- if block.settings.show_ssl -%}
              <div class="footer-ssl">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4z"/>
                </svg>
                <span>SSL 256-Bit<br>RSA Encryption</span>
              </div>
            {%- endif -%}

            <p class="footer-copyright">
              &copy; {{ 'now' | date: '%Y' }}, {{ shop.name | upcase }}
            </p>
          </div>
      {%- endcase -%}
    {%- endfor -%}

  </div>
</footer>

{%- if section.settings.show_footer_break_bottom -%}
  {%- assign bottom_break_url = 'https://cdn.shopify.com/s/files/1/0503/3535/0975/files/break-bottom.png?v=1772442257' -%}
  {%- if section.settings.footer_break_bottom != blank -%}
    {%- assign bottom_break_url = section.settings.footer_break_bottom | image_url -%}
  {%- endif -%}
  <div class="footer-break-bottom" aria-hidden="true" style="background-image: url('{{ bottom_break_url }}');"></div>
{%- endif -%}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_footer_break_top",
      "label": "Show Top Break Line",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_break_top",
      "label": "Top Break Line Image"
    },
    {
      "type": "checkbox",
      "id": "show_footer_break_bottom",
      "label": "Show Bottom Break Line",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_break_bottom",
      "label": "Bottom Break Line Image"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Brand Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Character Image"
        }
      ]
    },
    {
      "type": "disclaimer",
      "name": "Disclaimer",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Disclaimer",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>lootroom GmbH is officially affiliated, endorsed, and licensed by <a href=\"https://facepunch.com/merch\" target=\"_blank\" rel=\"noopener noreferrer\">Facepunch Studios</a>.</p><p>&copy; 2026 Facepunch Studios Limited. All rights reserved. Facepunch Studios, Rust, the Facepunch Studios logo, and the Rust logo are trademarks and/or registered trademarks of Facepunch Studios in the US and/or other countries.</p><p>For other games, lootroom is not affiliated with, endorsed by, or in any way associated with Steam, Valve, Microsoft, Blizzard, Overwatch, or any of their subsidiaries or affiliates. All graphics, game assets, sounds, and brands are property of their respective owners.</p>",
          "label": "Text"
        }
      ]
    },
    {
      "type": "link_list",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Useful Links",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "info",
      "name": "Supplier & Info",
      "settings": [
        {
          "type": "image_picker",
          "id": "supplier_logo",
          "label": "Supplier Logo"
        },
        {
          "type": "text",
          "id": "supplier_name",
          "default": "3D Jake",
          "label": "Supplier Name"
        },
        {
          "type": "checkbox",
          "id": "show_ssl",
          "default": true,
          "label": "Show SSL Badge"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "disclaimer"
      },
      {
        "type": "link_list"
      },
      {
        "type": "info"
      }
    ]
  }
}
{% endschema %}
